* {
  margin: 0;
  padding: 0; }

html {
  background-color: white;
  color: #555;
  font-family: 'Lato',Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility; }

header {
  background-image: url(img/Luca.jpg);
  background-size: cover;
  background-position: right;
  height: 96.4vh; }

.row {
  max-width: 1140px;
  margin: 0 auto; }

.work {
  width: 300px; }

.hululogo {
  height: 54px;
  padding-left: 15px;
  padding-top: 10px;
  float: left; }

.navbar {
  height: 150px;
  width: auto;
  background-image: linear-gradient(black, rgba(255, 255, 255, 0)); }

.log {
  float: right;
  margin-top: 18px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  margin-right: 40px;
  text-decoration: none; }

.btn {
  display: inline-block;
  padding: 12px 20px;
  font-weight: 700;
  text-decoration: none;
  color: #b0afb7;
  font-size: 70%;
  letter-spacing: normal;
  font-family: 'Graphik', sans-serif;
  border-radius: 10px;
  transition: background-color 0.4s ,border 0.2s, color 0.2s; }

.btn:hover {
  background-color: #323843;
  color: #fff; }

.btn:active {
  background-color: #424957; }

.disney {
  position: absolute;
  color: #00d072;
  text-transform: uppercase;
  width: 1140px;
  top: 18.3%;
  text-align: center;
  left: 12.5%;
  font-size: 65%;
  font-weight: 600;
  letter-spacing: normal;
  font-family: 'Rubik', sans-serif; }

.big-logo {
  position: absolute;
  height: 133px;
  width: 605px;
  top: 23.7%;
  left: 30%; }

.get-hulu {
  position: absolute;
  color: #fff;
  width: 1140px;
  text-align: center;
  top: 43.6%;
  left: 12.5%;
  font-size: 122%;
  font-weight: 700;
  letter-spacing: normal;
  font-family: 'Albert Sans', sans-serif; }

.get-all-three {
  display: inline-block;
  position: absolute;
  padding: 15.7px 280px;
  font-weight: 600;
  text-decoration: none;
  color: black;
  font-size: 70%;
  letter-spacing: normal;
  font-family: 'Graphik', sans-serif;
  border-radius: 5px;
  transition: background-color 0.4s ,border 0.2s, color 0.2s;
  text-align: center;
  top: 50.9%;
  left: 27.9%;
  background-color: #1ce783;
  transition: background-color 1ms; }

.get-all-three:hover {
  background-color: rgba(122, 238, 153, 0.61); }

.get-all-three:active {
  background-color: rgba(121, 226, 148, 0.271); }

.term {
  position: absolute;
  color: #fff;
  width: 1140px;
  text-align: center;
  top: 59.6%;
  left: 12.5%;
  font-size: 70%;
  font-weight: 400;
  letter-spacing: normal;
  font-family: 'Albert Sans', sans-serif; }

.sign-up {
  position: absolute;
  color: #fff;
  width: 163px;
  text-align: center;
  top: 65.3%;
  left: 44.6%;
  font-size: 85%;
  font-weight: 400;
  letter-spacing: normal;
  font-family: 'Albert Sans', sans-serif;
  border-bottom: solid 1px;
  text-decoration: none; }

.ribon {
  position: relative;
  height: 152px;
  width: auto;
  background-color: rgba(0, 0, 0, 0.501);
  top: 384%; }

.huludis-logo {
  position: absolute;
  height: 100px;
  width: auto;
  top: 17%;
  left: 10.1%; }

.duo-para {
  position: absolute;
  color: #00d072;
  text-transform: uppercase;
  width: 1140px;
  top: 21%;
  text-align: center;
  left: 10.1%;
  font-size: 62%;
  font-weight: 600;
  letter-spacing: normal;
  font-family: 'Rubik', sans-serif;
  word-spacing: normal; }

.both-ads {
  position: absolute;
  color: #fff;
  width: 1140px;
  text-align: center;
  top: 38%;
  left: 10.2%;
  font-size: 122%;
  font-weight: 400;
  letter-spacing: normal;
  font-family: 'Albert Sans', sans-serif; }

.get-both {
  position: absolute;
  color: #fff;
  width: 158px;
  text-align: center;
  top: 28%;
  left: 71.2%;
  font-size: 76%;
  font-weight: 700;
  letter-spacing: normal;
  font-family: 'Albert Sans', sans-serif;
  text-decoration: none;
  display: block;
  border: 2px solid;
  padding: 13px 6px;
  border-radius: 5px; }

.get-both:hover {
  background-color: rgba(211, 210, 208, 0.823);
  color: #000;
  transition: 0.3s;
  transform: translateX(-3%); }

.term2 {
  position: absolute;
  color: #a1a0a0;
  width: 70px;
  text-align: center;
  top: 62%;
  left: 74.8%;
  font-size: 55%;
  font-weight: 600;
  letter-spacing: normal;
  font-family: 'Albert Sans', sans-serif;
  display: inline-block;
  padding: 0 0;
  box-sizing: border-box; }

.term2:hover {
  text-decoration: none; }

.include {
  position: relative;
  height: 1550px;
  width: auto;
  background-color: black;
  top: 384%; }

.plans {
  position: absolute;
  color: #00d072;
  text-transform: uppercase;
  width: 1140px;
  top: 5.5%;
  text-align: center;
  left: 12.5%;
  font-size: 73%;
  font-weight: 600;
  letter-spacing: normal;
  font-family: 'Rubik', sans-serif; }

.tv {
  position: absolute;
  color: #fff;
  width: 1140px;
  top: 7.5%;
  text-align: center;
  left: 12.5%;
  font-size: 235%;
  font-weight: 700;
  letter-spacing: normal;
  font-family: 'Rubik', sans-serif; }

.watch {
  position: absolute;
  color: #fff;
  width: 1140px;
  text-align: center;
  top: 13%;
  left: 12.9%;
  font-size: 95%;
  font-weight: 400;
  letter-spacing: normal;
  font-family: 'Albert Sans', sans-serif; }

.photos4 {
  position: absolute;
  top: 19.3%;
  left: 9.3%;
  background-color: #000; }

.bugers {
  height: 30%;
  width: 295px;
  margin-right: 15px;
  filter: brightness(60%); }

.classic {
  height: 30%;
  width: 295px;
  margin-right: 15px;
  filter: brightness(61%); }

.tale {
  height: 30%;
  width: 293px;
  margin-right: 17px;
  filter: brightness(61%); }

.hbo {
  height: 30%;
  width: 293px;
  filter: brightness(61%); }

.past {
  position: absolute;
  color: #fff;
  text-align: left;
  top: 5.7%;
  left: 2%;
  font-size: 85%;
  font-weight: 600;
  letter-spacing: normal;
  font-family: 'Albert Sans', sans-serif;
  text-decoration: none; }

.shows {
  position: absolute;
  color: #fff;
  text-align: left;
  top: 11.5%;
  left: 2%;
  font-size: 120%;
  font-weight: 800;
  letter-spacing: normal;
  font-family: 'Albert Sans', sans-serif;
  text-decoration: none; }

.new-classic {
  position: absolute;
  color: #fff;
  text-align: left;
  top: 5.6%;
  left: 27.2%;
  font-size: 85%;
  font-weight: 600;
  letter-spacing: normal;
  font-family: 'Albert Sans', sans-serif;
  text-decoration: none; }

.movies {
  position: absolute;
  color: #fff;
  text-align: left;
  top: 12%;
  left: 27.4%;
  font-size: 120%;
  font-weight: 800;
  letter-spacing: normal;
  font-family: 'Albert Sans', sans-serif;
  text-decoration: none; }

.ground {
  position: absolute;
  color: #fff;
  text-align: right;
  top: 5.6%;
  left: 52.8%;
  font-size: 85%;
  font-weight: 600;
  letter-spacing: normal;
  font-family: 'Albert Sans', sans-serif;
  text-decoration: none; }

.originals {
  position: absolute;
  color: #fff;
  text-align: right;
  top: 12%;
  left: 52.8%;
  font-size: 122%;
  font-weight: 800;
  letter-spacing: normal;
  font-family: 'Albert Sans', sans-serif;
  text-decoration: none; }

.add-on {
  position: absolute;
  color: #fff;
  text-align: right;
  top: 5.6%;
  left: 78.2%;
  font-size: 85%;
  font-weight: 600;
  letter-spacing: normal;
  font-family: 'Albert Sans', sans-serif;
  text-decoration: none; }

.premiums {
  position: absolute;
  color: #fff;
  text-align: right;
  top: 12%;
  left: 78.2%;
  font-size: 122%;
  font-weight: 800;
  letter-spacing: normal;
  font-family: 'Albert Sans', sans-serif;
  text-decoration: none; }

.cost-para {
  position: absolute;
  color: #a1a0a0;
  text-align: center;
  top: 102%;
  left: 76%;
  font-size: 55%;
  font-weight: 400;
  letter-spacing: normal;
  font-family: 'Albert Sans', sans-serif;
  display: inline-block;
  padding: 0 0;
  box-sizing: border-box; }

.with-ads {
  position: absolute;
  color: #00d072;
  text-transform: uppercase;
  width: 1140px;
  top: 65.8%;
  text-align: center;
  left: 12.5%;
  font-size: 74%;
  font-weight: 600;
  letter-spacing: normal;
  font-family: 'Albert Sans', sans-serif;
  word-spacing: normal; }

.live-tv {
  position: absolute;
  color: #fff;
  width: 1140px;
  top: 67.8%;
  text-align: center;
  left: 12.5%;
  font-size: 240%;
  font-weight: 700;
  letter-spacing: normal;
  font-family: 'Rubik', sans-serif; }

.get-85 {
  position: absolute;
  color: #fff;
  width: 1140px;
  text-align: center;
  top: 80%;
  left: 12.9%;
  font-size: 95%;
  font-weight: 400;
  letter-spacing: normal;
  font-family: 'Albert Sans', sans-serif; }

.blackouts {
  position: absolute;
  color: #a1a0a0;
  text-align: center;
  top: 80%;
  left: 30%;
  font-size: 55%;
  font-weight: 400;
  letter-spacing: normal;
  font-family: 'Albert Sans', sans-serif;
  display: inline-block;
  padding: 0 0;
  box-sizing: border-box; }

.channels {
  position: absolute;
  color: #fff;
  text-align: right;
  top: 85%;
  left: 30.2%;
  font-size: 122%;
  font-weight: 800;
  letter-spacing: normal;
  font-family: 'Albert Sans', sans-serif;
  text-decoration: none; }
