* {
  margin: 0;
  padding: 0; }

html {
  background-color: white;
  color: #555;
  font-family: 'Lato',Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility; }

header {
  background-image: url(img/Luca.jpg);
  background-size: cover;
  background-position: right;
  height: 97.4vh; }

.row {
  max-width: 1140px;
  margin: 0 auto; }

.work {
  width: 300px; }

.hululogo {
  height: 54px;
  padding-left: 15px;
  padding-top: 10px;
  float: left; }

.navbar {
  height: 150px;
  width: auto;
  background-image: linear-gradient(black, rgba(255, 255, 255, 0)); }

.log {
  float: right;
  margin-top: 18px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  margin-right: 40px;
  text-decoration: none; }

.btn {
  display: inline-block;
  padding: 12px 20px;
  font-weight: 700;
  text-decoration: none;
  color: #b0afb7;
  font-size: 70%;
  letter-spacing: normal;
  font-family: 'Graphik', sans-serif;
  border-radius: 10px;
  transition: background-color 0.4s ,border 0.2s, color 0.2s; }

.btn:hover {
  background-color: #323843;
  color: #fff; }

.btn:active {
  background-color: #424957; }

.disney {
  position: absolute;
  color: #00d072;
  text-transform: uppercase;
  width: 1140px;
  top: 19%;
  left: 44%;
  font-size: 65%;
  font-weight: 600;
  letter-spacing: normal;
  font-family: 'Rubik', sans-serif; }

.espn {
  height: 100px;
  width: auto; }
