$color1:blue;
$color2:yellow;
$color3:red;
$color4:brown;
$color5:white;
$color6:#555;



*{
    margin: 0;
    padding: 0;
    
}
html{
    background-color:$color5;
    color: $color6;
    font-family: 'Lato',Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;

}
header{
    background-image: url(img/solar.jpg);
    background-size: cover;
    background-position:center;
    height: 100vh;

}
header{
      
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}
.dis{
    margin-top: 0%;
}
